In [5]:
from sqlalchemy import create_engine

import pymysql
#import cx_oracle
import ast
from ast import literal_eval

import pandas as pd
def get_data_from_db(name):
    sqlEngine       = create_engine('mysql+pymysql://root:NewPassword@localhost:3306', pool_recycle=3600)
    dbConnection    = sqlEngine.connect()

    frame           = pd.read_sql("select * from temp.patient where id = '{}'".format(name), dbConnection);
    df = frame.reset_index(drop=True)
    #a = df['tablets'].iloc[-1]
    a = df['tablets'].to_dict()
    op_dict = {}
    for k,v in a.items():
        v = literal_eval(v)
        
        op_dict.update(v)
        
    return op_dict , df

In [21]:
name = input()

test

In [22]:
tab = input()

["follic"]

In [23]:
detail,df = get_data_from_db(name)

In [24]:
df

     id                   tablets
0  test  {'para': 4, 'follic': 1}

In [25]:
def occurance(val):
    d = {}
    for i in val:
        d[i] = val.count(i)
    return d
op = occurance(literal_eval(tab))

In [26]:
def update_final_val(detail, tab_occ):
    

    final_dict = {}
    for k ,v in op.items():
        if k in detail.keys():

            val = detail.get(k)
            val = int(val)

            final_dict[k] = val + v
        else:
            final_dict[k] = v
    return final_dict

In [27]:
tab_occ = occurance(tab)

In [28]:
fin_dict = update_final_val(detail, tab_occ)

In [29]:
(fin_dict)

{'follic': 2}

In [30]:
df

     id                   tablets
0  test  {'para': 4, 'follic': 1}

In [31]:
df['tablets'] = str(fin_dict)

In [32]:
df

     id        tablets
0  test  {'follic': 2}

In [33]:
sqlEngine       = create_engine('mysql+pymysql://root:NewPassword@localhost:3306', pool_recycle=3600)
dbConnection    = sqlEngine.connect()
df.to_sql(con=dbConnection, schema = "temp" , name='patient', if_exists='replace', index=False)